@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');


#container {
    width: 90%;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.head {
    background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	font-size: 30;
    letter-spacing: 2.5px;
    font-weight: normal;
}

.right{
	float: right;
	clear: both;
	width: 30%;
}

.left{
	float: left;
	}
	

.Ccollapse{
background: white;
}



.list1{
	width: 69%;
}

.rtl{

	text-align: right;
	
}






























